
<launch>
  
  <!-- odom placement -->
  <node pkg="tf" type="static_transform_publisher" name="robot_model_link"
        args="0 0 0 0 0 0  /map /odom 10" />

  <!-- lidar placement -->
  <node pkg="tf" type="static_transform_publisher" name="lidar_link"
        args="0 0 0 0 0 0  /base_link /laser 10" />
  

</launch>
