
<launch>

  <!-- odom placement -->
  <node pkg="tf" type="static_transform_publisher" name="robot_model_link"
        args="0 0 0 0 0 0  /map /odom 10" />

  <!-- lidar placement -->
  <node pkg="tf" type="static_transform_publisher" name="lidar_link"
        args="-0.08 0 0 3.14 0 0  /base_link /laser 10" />


  <!-- Camera placement -->
  <node pkg="tf" type="static_transform_publisher" name="camera_link"
        args="0.07 0 0.20 0 0.62 0  /base_link /camera_link 10" />

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find robot_model)/config/robot_model.rviz"/>

  <node pkg="robot_model" type="base_link_model" name="base_link_model" />

  <!--<node pkg="robot_model" type="broadcast_odom" name="tf_odom_brodcaster" /> -->


</launch>
